*{margin: 0; padding: 0; font-family: 'Roboto', sans-serif;}

:root{
    --cs-text:#4b4f56;
    --cs-primary:#365899;
}

hr{
    background-color: #dddfe2;
}

h2{
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
}

h3{
    color: var(--cs-text);
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
}

h4{
    font-size: 15px;
    padding: 0;
    margin: 0;
    color: var(--cs-primary);
    font-weight: 700;
}

p{
    font-size: 14px;
    padding: 0px;
    margin: 0;
    margin: 4px 0px;
    color: var(--cs-text);
    font-weight: 400;
    line-height: 26px;
}

a{
    font-size: 12px;
    color: #4267B2;
    padding: 0;
    margin: 0;
    font-weight: 400;
    text-decoration: none;
}

span{
    color: #90949C;
    font-size: 12px;
    margin: 0;
    padding: 0;
    font-weight: 400;
}


/* text design */
.product{
    text-align: center;
    width: 33%;
    margin: auto;
    padding: 50px 0px;
}

/* like button */
.like_button{
    padding: 15px 0px;
    display: flex;
    align-items: center;
}

.like{
    display: flex;
    align-items: center;
    background-color: #5e91ff;
    padding: 5px;
    border-radius: 4px;
    width: 57px;
    margin-right: 10px;
}

.like a{}

.like a img{
    width: 16px;
    position: relative;
    z-index: 10;
}

.like h3{
    font-size: 12px;
    margin: 0;
    font-weight: 700;
    padding-left: 10px;
    color: #fff;
}

.like_text{}

.like_text span{}


/* comment box */
.comment_box{
    width: 38%;
    margin: auto;
    background: #fff;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    color: #4b4f56;
    padding: 50px;
}

.comment_head p{
    padding: 10px 0px;
    margin: 0;
    font-size: 14px;

}

.comment_head hr{
    color: #dddfe2;
    margin-bottom: 24px;
}

.comments{}

.users{
    display: flex;
    margin-bottom: 24px;
}

.user_image{}

.user_image a{}

.user_image a img{}

.user_details{
    padding-left: 15px;
}

.elements{
}

.elements ul{
    display: flex;
    align-items: center;
}

.elements ul li{
    list-style: none;
    padding-right: 10px;
}

.elements ul li a{
    text-decoration: none;
}

.elements ul li a img{
    width: 13px;
    padding-right: 3px;
}

.elements ul li span{}

.dot::before{
    position: absolute;
    content: '';
    width: 2px;
    height: 2px;
    border-radius: 50px;
    background-color: var(--cs-text);
    transform: translate(-50%, -50%);
}

.load_more{
    text-align: center;
    margin-top: 10px;
}

.load_more a{
    background: #3578e5;
    border: none;
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    margin-top: 24px;
    padding: 12px;
    text-shadow: none;
    width: 100%;
    font-weight: bold;
    position: relative;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    display: block;
}

